<div class="modal fade" id="difficulty_level" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
        <%= form_with(url: "/set_difficulty_level", local: true) do %>
        <div class="modal-body">
            <div class="form-group">
              <label>Hard</label>
              <select name="hard" class="form-control" required="true">
                <option value="">--Maximum number of grammatical errors--</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="form-group">
              <label>Medium</label>
              <select name="medium" class="form-control" required="true">
                <option value="">--Maximum number of grammatical errors--</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="form-group">
              <label>Easy</label>
              <select name="easy" class="form-control" required="true">
                <option value="">--Maximum number of grammatical errors--</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark modal-close" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-primary modal-submit">Save</button>
            </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
