<div class="modal fade" id="order" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Send messages to successful candidates</h6>
      </div>
        <%= form_with(url: "/send_message", local: true) do %>
        <div class="modal-body">
            <div class="form-group">
              <select name="difficulty_level" class="form-control" required="true">
                <option value="">--Select Difficulty Level--</option>
                <option value="hard">Hard</option>
                <option value="medium">Medium</option>
                <option value="easy">Easy</option>
              </select>
            </div>
            <div class="form-group">
              <select name="broadcast_method" class="form-control" required="true" id="broadcast-method">
                <option value="">--Broadcast Method--</option>
                <option value="email">Email</option>
                <option value="sms">SMS</option>
              </select>
            </div>
            <div class="form-group">
              <textarea name="message" type="text" class="form-control address-input" placeholder="Write message" rows="5" required></textarea>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="message_checkbox">
                <label class="form-check-label" for="gridCheck" id="message-checkbox-label">
                  Send to only candidates that have not recieved message
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-outline-dark modal-close" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-sm btn-outline-primary modal-submit">Send</button>
            </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
