<% provide(:title, "Home") %>

<div class="new-submission">
  <h5>Welcome, fill this form to submit your article</h5>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <button class="close" data-dismiss="alert">×</button>
      <%= value %>
    </div>
  <% end %>

  <%= render 'form', submission: @submission %>

  <%= link_to 'Admin Login', login_path %>
</div>
