.content {
  .rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .register-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    margin-top: 2%;
    width: 25%;
    margin-right: auto;
    margin-left: auto;

    p {
      font-size: 18px;
    }

    a {
      &.admin-login {
        color: #383d41;
        cursor: pointer;

        &:hover {
          color: grey;
          text-decoration: none;
          background: none;
          font-weight: normal;
        }
      }
    }

    .img-logo {
      margin-top: 25%;
      margin-bottom: 5%;
      -webkit-animation: mover 2s infinite alternate;
      animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-20px);
      }
    }

    @keyframes mover {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-20px);
      }
    }

  }

  .register-btn {
    display: flex;
    justify-content: flex-end;
    border: none;
    border-radius: 1.5rem;
    padding: 7px 40px;
    background: #5baf31;
    border: 1px solid #5baf31;
    color: #fff;
    cursor: pointer;

    &:hover {
      color: #5baf31;
      background: none;
      border: 1px solid #5baf31;
      transition: ease all 0.7s;
    }
  }


  .register-right {
    width: 65%;
    height: 60%;
    background: #f8f9fa;
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
    margin-top: 4%;
    padding: 5% 2% 5% 5%;

    .dob {
      position: relative;

      .dob-text {
        position: absolute;
      }
    }

    .submit-button {
      display: flex;
      justify-content: flex-end;
    }

    .article-field {
      resize: vertical;
      height: 200px;
      display: none;
    }

    h4 {
      text-align: center;
      color: #383d41;
      margin-top: -50px;

    }

    input {
      &:focus {
        outline: none;
      }
    }

    .file-upload {
      display: flex;
      justify-content: center;

      .image_preview {
        width: 100px;
        height: 100px;
        cursor: pointer;
        margin-bottom: 10px;
      }

      .photo_upload {
        display: none;
      }
    }

    .passport-error-msg,
    .article-file-error-msg {
      color: red;
      font-size: 12px;
    }
  }
}

.alert {
  position: absolute !important;
  top: 40px;
  right: 25px;
  z-index: 9999999;
}

.difficulty-level {
  display: none !important;
}
