.content {
  // background: darkgreen;
  width: 100%;
  height: 100%;
  font-family: "Gentium Basic";

  .new-submission {
    text-align: center;
    width: 60%;
    margin: 0 auto;

    .article-field {
      height: 250px;
    }
  }
}
