// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-login {
  text-align: center;
  width: 30%;
  margin: 16% auto;
  height: 40%;
  background-color: #f8f9fa;
  padding: 2% 3% 4%;
  box-shadow: 0 4px 9px 0 rgba(4, 4, 4, 0.529);
  border-radius: 4px;

  h3 {
    color: #646465;
    display: inline;
  }

  a {
    display: flex;
    justify-content: flex-end;

    &:hover {
      text-decoration: none;
      background: none;
    }
  }

  .btn {
    background: #5baf31;
    color: #fff;
    border-radius: 20px;
    padding: 7px 40px;
    margin-top: 15px;

    &:hover {
      color: #5baf31;
      background: none;
      border: 1px solid #5baf31;
      transition: ease all 0.5s;
    }
  }

}

*.main {
  box-sizing: content-box !important;
}

.main {

  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #55455845;

    .side-button {
      max-height: 90vh;
      margin: 50px 10px;

    }

    .btn {
      width: 170px;
      margin: 10px 0;
    }

    .logout {
      margin: 30px auto;
    }
  }

  .main-side {
    padding-top: 20px;
    height: 100vh;
    background-color: #ffffff45;

    .table-container {
      max-height: 90vh;
      overflow-y: scroll;

      .modal-dialog {
        max-width: 800px;
      }

      .modal-body {
        .article {
          font-family: "Times New Roman", Times, serif;
        }

        .candidate-passport {
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }

    table {
      font-size: 13px;
    }

    tbody {
      tr {
        &:hover {
          background-color: #7c797945;
        }

        cursor: pointer;
      }
    }

    .main-side-title {
      text-align: center;
    }
  }
}

.modal-title {
  text-align: center;
  width: 100%;
}
