// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-login {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.admin-dashboard {
  h3 {
    text-align: center;
  }

  #number-of-candidates {
    margin-left: 5px;
  }

  .table-container {
    max-height: 70vh;
    overflow-y: scroll;
  }

  .send-msg-btn {
    margin: 4px;
  }
}
