// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-login {
  text-align: center;
  width: 30%;
  margin: 16% auto;
  height: 40%;
  background-color: #f8f9fa;
  padding: 2% 3% 4%;
  box-shadow: 0 4px 9px 0 rgba(4, 4, 4, 0.529);
  border-radius: 4px;

  h3 {
    color: #646465;
    display: inline;
  }

  a {
    display: flex;
    justify-content: flex-end;

    &:hover {
      text-decoration: none;
      background: none;
    }
  }

  .btn {
    background: #5baf31;
    color: #fff;
    border-radius: 20px;
    padding: 7px 40px;
    margin-top: 15px;

    &:hover {
      color: #5baf31;
      background: none;
      border: 1px solid #5baf31;
      transition: ease all 0.5s;
    }
  }

}

.admin-dashboard {
  h3 {
    text-align: center;
  }

  #number-of-candidates {
    margin-left: 5px;
  }

  .table-container {
    max-height: 70vh;
    overflow-y: scroll;
  }

  .send-msg-btn {
    margin: 4px;
  }
}
